* {
  align-items: center;
  gap: 12px;
}

.task-left input {
  width: 18px;
  height: 18px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.delete-btn {
  background: crimson;
  color: white;
  padding: 10px 14px;
}

.quote-card p {
  color: #cbd5e1;
  line-height: 1.8;
  margin: 25px 0;
  font-size: 1.1rem;
}

.about-card p {
  color: #cbd5e1;
  line-height: 1.8;
  margin-top: 15px;
}

footer {
  margin-top: 40px;
  text-align: center;
  color: #94a3b8;
}

@media(max-width: 900px) {
  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .main-content {
    padding: 25px;
  }

  .timer-circle {
    width: 220px;
    height: 220px;
  }

  #timer {
    font-size: 3rem;
  }

  .controls {
    flex-direction: column;
  }

  .task-input-box {
    flex-direction: column;
  }
}
